<font color = blue > ########## First Programs######

In [8]:
name = 'waqas'
output = print(name)

waqas

<font color = blue > #########print number#####

In [7]:

A=2
print(A)

2

In [1]:
wen=10
bin=10
print(id(wen),id(bin))

140720674817096 140720674817096

In [22]:
A=2
B=2.1
print(type(A))
print(type(B))

<class 'int'>
<class 'float'>

 ####### Variables##############
 ## The data is store in variables
## For examples  name, A , output all are variables
##The variable is a name that we use to store values. 變量是我們用來存儲值的名稱 
## Important points:
## a variable name has no space:(變量名沒有空格 )  Biànliàng míng méiyǒu kònggé.
##.a variable name never start with numbers:(變量名從不以數字開頭 )Biànliàng míng cóng bù yǐ shùzì kāitóu
##  Do not use any special character to start variable: 不要使用任何特殊字符來啟動變量  Bùyào shǐyòng rènhé tèshū zìfú lái qǐdòng biànliàng

### Types of data
## Numerical data (Immutable)

In [ ]:
# Integer
print(8)
print(type(8))

### Examples of Immutable object (不可变对象的示例)bBùkě biàn duìxiàng de shìlì

In [4]:
m = 15
print('Before changing, memory address = ', id(m))
m = 22
 
print('After changing, memory address = ', id(m))

Before changing, memory address =  140711886636264
After changing, memory address =  140711886636488

### In the above example we can see that when changing the value of the integer that is an immutable data type in python this will create a new object rather than changing the original object as the memory location of both is different.
### 在上面的示例中，我们可以看到，当更改 python 中不可变数据类型的整数的值时，这将创建一个新对象，而不是更改原始对象，因为两者的内存位置不同

### Examples of float

In [5]:
x = 3.14
print(x)  
print(id(x))
x += 1.0
print(x)  
print(id(x))

3.14
2464891885712
4.140000000000001
2464891880080

In [23]:
# Decimal/Float
print(8.55)
print(type(8.55)

In [24]:
# complex
import cmath
com=5+5j
print(com)
print(id(com))
com=6+5j
print(com,id(com))

(5+5j)
2464905564368
(6+5j) 2464905564144

### Examples for Strings

In [8]:
# initial string ####### 'waqas',"waqas",'''waqas'''
initialstring = 'Welcome to PrepBytes'
# Now we will change at index 4
print(id(initialstring))

2464906510944

In [27]:
initialstring = 'n'
print(id(initialstring))

140711885419976

In [28]:
initialstring[4] = 'n'
print(initialstring)

TypeError: 'str' object does not support item assignment

### Tuple
### Python Tuple is a collection of objects separated by commas.(Python 元组是用逗号分隔的对象的集合。
Python yuán zǔ shì yòng dòuhào fēngé de duìxiàng de jíhé.)

In [29]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [34]:

##Example 1: Tuple with integers as elements
tup = (22, 33, 5, 23)
print(tup)

(22, 33, 5, 23)

In [35]:
##Example 2: Tuple with mixed data type

tup2 = ('hi', 11, 45.7)
print(tup2)

('hi', 11, 45.7)

In [36]:
##Example 3: Tuple with a tuple as an element
tup3 = (55, (6, 'hi'), 67)
print(tup3)

(55, (6, 'hi'), 67)

### Mutable ....A mutable data type is those whose values can be changed.可变数据类型是指其值可以更改的数据类型。
Example: List, Dictionaries, and Set
###  SE (Unorder and Immutable)T

In [41]:
my_set = {1, 2, 3}
print(my_set)
print(id(my_set))

{1, 2, 3}
2464906391424

In [42]:
new_set = my_set
new_set.add(4)
print(new_set)
print(id(new_set))

{1, 2, 3, 4}
2464906391424

In [43]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [44]:
# create a set of integer type
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

# create a set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

# create a set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'a', 'o', 'e', 'i', 'u'}
Set of mixed data types: {'Hello', 'Bye', 101, -2}

### List []..Python lists store multiple data together in a single variable.Python 列表将多个数据一起存储在一个变量中。

In [47]:
   
my_list = [1, 2, 3]
print(my_list)
my_list.append(4)
print(id(my_list))
print(my_list) 
print(id(my_list))

[1, 2, 3]
2464907534016
[1, 2, 3, 4]
2464907534016

### Examples List

In [49]:
fruits = ["apple", "banana", "cherry"]
# Accessing the first element (index 0) in the list
first_fruit = fruits[0]
print(first_fruit)  
# Accessing the second element (index 1) in the list
second_fruit = fruits[1]
print(second_fruit)

apple
banana

### Dictionary {}
### Ordered or Unordered? As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered. When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change
### 有序还是无序？从 Python 3.7 版本开始，字典是有序的。在 Python 3.6 及更早版本中，字典是无序的。当我们说字典是有序的时，意味着这些项目有一个定义的顺序，并且该顺序不会改变
### A dictionary is a collection which is ordered*, changeable and do not allow duplicates.字典是一个有序*、可更改且不允许重复的集合。.

In [50]:
# create a dictionary using {}
person = {"name": "Jessa", "country": "USA", "telephone": 1178}
print(person)
# output {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

# create a dictionary using dict()
person = dict({"name": "Jessa", "country": "USA", "telephone": 1178})
print(person)
# output {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

# create a dictionary from sequence having each item as a pair
person = dict([("name", "Mark"), ("country", "USA"), ("telephone", 1178)])
print(person)

# create dictionary with mixed keys keys
# first key is string and second is an integer
sample_dict = {"name": "Jessa", 10: "Mobile"}
print(sample_dict)
# output {'name': 'Jessa', 10: 'Mobile'}

# create dictionary with value as a list
person = {"name": "Jessa", "telephones": [1178, 2563, 4569]}
print(person)
# output {'name': 'Jessa', 'telephones': [1178, 2563, 4569]}

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}
{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}
{'name': 'Mark', 'country': 'USA', 'telephone': 1178}
{'name': 'Jessa', 10: 'Mobile'}
{'name': 'Jessa', 'telephones': [1178, 2563, 4569]}